.InfoBox {
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 5px;
   }
   
   .cardContainer {
       display: flex;
       justify-content: center;  
   }
   
   
   .cardContainer p{
       color: rgb(50, 50, 50);
       font-weight: 500;
       margin-top: 14px;
   }